*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
}

.heade {
    background-color: black;
    width: 100%;
    height: 40px;
    color:white;
    font-size: 12px;
    
}

.heade .parrafo{
    margin-bottom: 10px;
}


.heade .equis {
    font-size: 13px;
    margin-left: 105rem;
    margin-bottom: 100px;
    
    
}

.cabeza {
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}

.cabeza .heade{

}


.nave{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 65px;
    background-color: rgb(238, 234, 229);
    display: flex;
   
    
   
}

.naveg{
align-items: center;
margin-left: 450px;
justify-content: space-between;
font-size: 15px;
}

nav {
    display: flex;
}

img {
    height: 20px;
    width: 21px;
    margin-left: 21px;
}

h1 {
    margin-right: 20px;
}

li {
    margin-left: 15px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

input {
    margin-left: 26px;
    border-radius:60px;
    height: 30px;
    width: 300px;
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}


.heade .parrafo {
    font-size: 14px;
    margin-left: 700px;
    
}



article{
    display: flex;
}

.office .left{
    display: flex;
    width: 50%;
    height: 580px;
    background-color: rgba(128, 128, 128, 0.251);
}

.left button{
    height: 30px;
    width: 70px;
    margin-top: 100px;
}


.left .titulo{
    font-size: 40px;
    margin-left: 70px;
    
}

.left .text{
    margin-top: 350px;
    margin-left: 20px;
    font-size: 19px;
    
}

.left .dos{
    margin-right: 30px;
    margin-top: 310px;
}

.left .veinte{
    margin-top: 310px;
    
}

.left .treinta{
    margin-top: 310px;
    padding-right: 5rem;
    padding-left: 2rem;

.right{
    display: flex;
}

.right .una{
    width: 100px;
    height: 575px;

}
