*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;

}

.heade {
    background-color: black;
    width: 100%;
    height: 40px;
    color:white;
    font-size: 12px;

}

.heade .parrafo{
    margin-bottom: 10px;
}


.heade .equis {
    font-size: 13px;
    margin-left: 105rem;
    margin-bottom: 100px;


}

.cabeza {
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}

.cabeza .heade{

}


.nave{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 65px;
    background-color: rgb(238, 234, 229);
    display: flex;



}

.naveg{
align-items: center;
margin-left: 450px;
justify-content: space-between;
font-size: 15px;
}

nav {
    display: flex;
}

.naveg img {
    height: 20px;
    width: 21px;
    margin-left: 21px;
}

h1 {
    margin-right: 20px;
}

li {
    margin-left: 15px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

input {
    margin-left: 26px;
    border-radius:60px;
    height: 30px;
    width: 300px;
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.heade{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.cabeza .heade .parrafo {
    font-size: 13px;
    margin-left: 700px;
    margin-top: 10px;
    top: 10rem;

}

.pers .lol{
    width: 100%;
    height: 663px;
    background-color: #F2F0F1;
    background-image: url(./Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position-x: 320px;
}


.lol .containt{
    display: flex;
    width: 597px;
    height: 66px;
    top: 607px;
    margin-left: 196px;
    margin-top: 30px;
    font-size: 19px;
    gap: 22px;
}

.find {
  width: 356px;
  font-family: 'Lilita One';
  font-weight: 400px;
  font-size: 64px;
  font-style: normal;
}

.lol .find{
    width: 710px;
}

.pers .lol .find{
    margin-left: 190px;
}


.lol .text{
    width: 505px;
    height: 33px;
    margin-left: 196px;
    margin-top: 10px;

}


.text {
  font-family: 'Ubuntu';

  font-style: normal;
  font-size: 18px;

}

.lol .now{
width: 210;
height: 52;
top: 507px;
left: 100px;
opacity: 1;
border-radius: 62px;
padding-top: 16px;
padding-right: 54px;
padding-bottom: 16px;
padding-left: 54px;
gap: 12px;
margin-top: 51px;
margin-left: 190px;
background-color: black;
color: white;
font-size: 15.5px;
}

.containt .star{
    font-size: 10px ;
    margin-right: 50rem;
}

.lol .vec{
    position: absolute;
    margin-left: 800px;
    margin-top: -270px;
}

.lol .tor{
    position: absolute;
    margin-left: 1480px;
    margin-top: -450px;
    
}
